name: Release

on:
  push:
    tags:
      - v*

permissions:
  contents: write
  id-token: write

jobs:
  release:
    name: release on ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04
            arch: x64
            ref: main

    runs-on: ${{ matrix.os }}
    environment: publishing

    env:
      VITE_PRESERVE_MODULES: "false"

    steps:
      - name: Checkout plugin
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Check if package version matches
        run: test "${GITHUB_REF_NAME}" = "v$(jq -r .version package.json)"

      - name: Setup node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .nvmrc
          package-manager-cache: false
          registry-url: https://registry.npmjs.org

      # Ensure npm 11.5.1 or later is installed
      - name: Update npm
        run: npm install -g npm@latest

      - name: Setup pnpm
        run: corepack enable

      - name: Get pnpm cache directory
        shell: bash
        run: echo "pnpm_cache_dir=$(pnpm store path)" >> ${GITHUB_ENV}

      - name: Use pnpm cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ${{ env.pnpm_cache_dir }}
          key: ${{ matrix.os }}-${{ matrix.arch }}-node-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ matrix.os }}-${{ matrix.arch }}-node-

      - name: Install pnpm dependencies
        id: install-pnpm
        shell: bash
        run: pnpm install --color=always --prefer-offline --frozen-lockfile
        continue-on-error: true

      - name: Install pnpm dependencies (retry)
        if: steps.install-pnpm.outcome == 'failure'
        shell: bash
        run: pnpm install --color=always --prefer-offline --frozen-lockfile

      - name: Build packages
        run: pnpm --color=always --stream build

      - name: Pack packages
        run: pnpm --color=always --stream pack

      - name: Publish npm packages
        id: publish-npm
        run: |
          case "${GITHUB_REF_NAME}" in
            *-*) dist_tag=next;;
            *) dist_tag=latest;;
          esac
          pnpm --color=always publish -r \
            --no-git-checks \
            --tag ${dist_tag}
        continue-on-error: true

      - name: Publish npm packages (retry)
        id: publish-npm-2
        if: steps.publish-npm.outcome == 'failure'
        run: |
          case "${GITHUB_REF_NAME}" in
            *-*) dist_tag=next;;
            *) dist_tag=latest;;
          esac
          pnpm --color=always publish -r \
            --no-git-checks \
            --tag ${dist_tag}
        continue-on-error: true

      - name: Publish npm packages (retry 2)
        if: steps.publish-npm-2.outcome == 'failure'
        run: |
          case "${GITHUB_REF_NAME}" in
            *-*) dist_tag=next;;
            *) dist_tag=latest;;
          esac
          pnpm --color=always publish -r \
            --no-git-checks \
            --tag ${dist_tag}

      - name: Create release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          fail_on_unmatched_files: true
          files: |-
            *.tgz
