name: Automated tag

on:
  issue_comment:
    types:
      - created
  pull_request:
    branches:
      - main
    types:
      - closed

permissions:
  contents: write
  id-token: write
  pull-requests: read

jobs:
  create-tag:
    name: tag

    runs-on: ubuntu-24.04
    environment: automated
    timeout-minutes: 10

    if: >
      (startsWith(github.event.issue.title, 'Automated npm version') && github.event.issue.state == 'closed' && github.event.comment.body
      == '/tag') || (startsWith(github.event.pull_request.title, 'Automated npm version') && github.event.pull_request.merged)

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          ref: main

      - name: Get version from package.json
        id: package-json
        run: |
          echo "version=$(jq -r .version package.json)" >> $GITHUB_OUTPUT

      - name: Check if version is release
        id: check-version
        run: |
          if [[ "${{ steps.package-json.outputs.version }}" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "is_release=true" >> $GITHUB_OUTPUT
          else
            echo "is_release=false" >> $GITHUB_OUTPUT
          fi

      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        if: steps.check-version.outputs.is_release == 'true'
        id: app-token
        with:
          app-id: 1248576
          private-key: ${{ secrets.AUTOMATION_APP_PRIVATE_KEY }}

      - name: Create tag from the main branch
        if: steps.check-version.outputs.is_release == 'true'
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const mainRef = await github.rest.git.getRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'heads/main',
            });
            const result = await github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'refs/tags/v${{ steps.package-json.outputs.version }}',
              sha: mainRef.data.object.sha,
            });
            console.log(result);
          github-token: ${{ steps.app-token.outputs.token }}
